<header class="header">
    <div class="container-fluid no-padding">
        <nav class="navbar navbar-default no-margin">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <%= image_tag 'multunus_logo.svg' %>
                        <span class="text font-weight-light">Multunus</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <%  data.links.nav_links.each do |link_info| %>
                            <% if link_info.link.respond_to? :each %>
                                <li class="item text-uppercase font-weight-semi-bold dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <%= link_info.title %><span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <%  link_info.link.each do |sub_link_info| %>
                                            <li class="item text-uppercase font-weight-semi-bold" data-active="<%= sub_link_info.link %>">
                                                <a href="<%= sub_link_info.link %>"><%= sub_link_info.title %></a>
                                            </li>
                                        <%  end %>
                                    </ul>
                                </li>
                            <% else %>
                                <li class="item text-uppercase font-weight-semi-bold" data-active="<%= link_info.link %>"><a href="<%= link_info.link %>"><%= link_info.title %></a></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>
