<section class="section section-striped our-thoughts clearfix">
  <h1 class="title text-center font-weight-light">Our thoughts</h1>

  <div class="container">

    <% featured_articles = blog.articles.select {|a| a.tags.include? 'featured'} %>

    <div class="row tile">
      <% featured_articles[0,2].each do |article| %>
          <div class="col-sm-6">
            <div class="blog-tile">
              <h3 class="title font-weight-bold">
                <a href="<%= article.url %>"><%= article.title %></a>
                <%# <time><%= article.date.strftime('%b %e %Y') %1></time> %>
              </h3>
              <%= with_ellipsised_text tag: 'p', text: article.summary , length: 140, options: {class: 'short-description'}  %>

              <a href="<%= article.url %>">Read more</a>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row tile">
      <% featured_articles[2,3].each do |article| %>
          <div class="col-sm-4">
            <div class="blog-tile">
              <h3 class="title font-weight-bold">
                <a href="<%= article.url %>"><%= article.title %></a>
                <%# <time><%= article.date.strftime('%b %e %Y') %1></time> %>
              </h3>
              <%= with_ellipsised_text tag: 'p', text: article.summary , length: 140, options: {class: 'short-description'}  %>

              <a href="<%= article.url %>">Read more</a>
          </div>
        </div>
      <% end %>
    </div>

      <div class="row">
        <div class="col-xs-12 ">
          <a class="btn btn-muted with-arrow text-center font-weight-bold full-width" href="#">See more case studies</a>
        </div>
      </div>
    </div>
  </section>
