<section class="services-banner">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="title-container">
        <h1 class="title text-uppercase text-center font-weight-extra-bold">Design</h1>
      </div>
    </div>
  </div>
</section>

  <!-- <div class="metrics-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="metrics-percent font-weight-light">20%</h1>
          <p class="metrics-text font-weight-light">of the budget is spent in bug fixes</p>
        </div>
        <div class="col-sm-4">
          <h1 class="metrics-percent font-weight-light">80%</h1>
          <p class="metrics-text font-weight-light">of the features never get used</p>
        </div>
        <div class="col-sm-4">
          <h1 class="metrics-percent font-weight-light">300%</h1>
          <p class="metrics-text font-weight-light">is the average delay in releases</p>
        </div>
      </div>
    </div>
  </div> -->

<section class="section-striped">
  <div class="container">
    <div class="row">
      <p class="text-center status-question"><em>We believe design that improves your business.</em></p>
    </div>
  </div>
</section>

<section class="practices section section-striped">
  <div class="container">
    <div class="row">
      <h1 class="text-center font-weight-light">Practices</h1>
      <div class="practice col-sm-6 col-xs-12">
        <div class="col-sm-2 text-xs-center margin-xs-bottom">
          <%= image_tag 'ic-face-48-px.svg' %>
        </div>
        <div class="col-sm-10 text-xs-center">
          <h3 class="practice-title font-weight-bold">Concept to Prototype in 5 Days</h3>
          <p class="practice-description">Go from a concept to prototype in 5 Days.</p>
        </div>
      </div>
      <div class="practice col-sm-6 col-xs-12">
        <div class="col-sm-2 text-xs-center margin-xs-bottom">
          <%= image_tag 'ic-cached-48-px.svg' %>
        </div>
        <div class="col-sm-10 text-xs-center">
          <h3 class="practice-title font-weight-bold">Optimize Conversions</h3>
          <p class="practice-description">Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.</p>
        </div>
      </div>
      <div class="practice col-sm-6 col-xs-12">
        <div class="col-sm-2 text-xs-center margin-xs-bottom">
          <%= image_tag 'ic-trending-up-48-px.svg' %>
        </div>
        <div class="col-sm-10 text-xs-center">
          <h3 class="practice-title font-weight-bold">User Research</h3>
          <p class="practice-description">Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.</p>
        </div>
      </div>
      <div class="practice col-sm-6 col-xs-12">
        <div class="col-sm-2 text-xs-center margin-xs-bottom">
          <%= image_tag 'ic-hourglass-empty-48-px.svg' %>
        </div>
        <div class="col-sm-10 text-xs-center">
          <h3 class="practice-title font-weight-bold">Usability Testing</h3>
          <p class="practice-description">Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-secondary with-arrow text-bold" href="#">Learn more about our Process</a>
    </div>
  </div>
</section>

<!-- <section class="section section-striped text-center">
  <div class="container">
    <div class="row">
      <h1 class="section-title font-weight-light">Technologies</h1>
      <div class="col-sm-4">
        <div class="technology-listing margin-xs-bottom">
          <h3 class="font-weight-bold">Backend</h3>
          <ul class="category-list list-unstyled">
            <li class="category-element">Node JS</li>
            <li class="category-element">Ruby on Rails</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="technology-listing margin-xs-bottom">
          <h3 class="font-weight-bold">Frontend</h3>
          <ul class="category-list list-unstyled">
            <li class="category-element">React JS</li>
            <li class="category-element">Angular JS</li>
            <li class="category-element">Backbone JS</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="technology-listing margin-xs-bottom">
          <h3 class="font-weight-bold">Mobile</h3>
          <ul class="category-list list-unstyled">
            <li class="category-element">iOS</li>
            <li class="category-element">Android</li>
            <li class="category-element">React Native</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="section section-striped">
  <div class="container">
    <h1 class="section-title text-center font-weight-light">Our Work</h1>

    <% data.work.case_studies.first(2).each do |case_study| %>

      <%= partial 'case_study_card', locals: { title_text: case_study.title, hash_tags: case_study.hash_tags, case_study_background: case_study.case_study_background, tint_color: case_study.tint_color   } %>

    <% end %>
    <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-muted with-arrow text-center font-weight-bold full-width" href="#">See more case studies</a>
    </div>
  </div>
  </div>
</div>
</section>

<%= partial 'our_thoughts' %>
<%= partial 'footer_banner', locals: { message: 'Need help on your project?', button_text: "Let's get in touch", button_styles: 'btn btn-primary with-pressed-effect' } %>
