<section class="main-banner what-we-do-banner">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="title-container">
                <h1 class="title text-uppercase text-center font-weight-extra-bold">We design, engineer & grow <span>your product</span></h1>
                <p class="description text-center">9 of 10 startups fail. We'll help you be the one that build a great brand.</p>
            </div>
        </div>
    </div>
</section>

<section class="section what-we-do section-striped clearfix">
    <h1 class="title text-center font-weight-light">What we do</h1>
    <div class="container tile-container">
        <div class="col-sm-4 tile horizontal-tile text-center">
            <%= image_tag 'what-we-do-design.svg' %>
            <h3>Design</h3>
            <p>Classifieds are usually the first place you think of when you are getting ready to make a purchase.</p>
            <a class="font-weight-bold" href="#">Know more</a>
        </div>
        <div class="col-sm-4 tile horizontal-tile text-center">
            <%= image_tag 'what-we-do-engineering.svg' %>
            <h3>Engineering</h3>
            <p>Classifieds are usually the first place you think of when you are getting ready to make a purchase.</p>
            <a class="font-weight-bold" href="#">Know more</a>
        </div>
        <div class="col-sm-4 tile text-center">
            <%= image_tag 'what-we-do-growth.svg' %>
            <h3>Growth</h3>
            <p>Classifieds are usually the first place you think of when you are getting ready to make a purchase.</p>
            <a class="font-weight-bold" href="#">Know more</a>
        </div>
    </div>
</section>

<section class="section section-striped our-work clearfix">
    <h1 class="title text-center font-weight-light">Our Work</h1>
    <div class="container">
        <div class="row tile">
            <div class="col-sm-6 text-center">
                <%= image_tag 'img1.jpg', class: 'img-responsive text-xs-center'%>
            </div>
            <div class="col-sm-6 text-left">
                <h2 class="text-capitalize text-xs-center">Research In Advertising</h2>
                <p class="font-weight-light text-xs-center">There are several ways people can make money online. From selling products to advertising.</p>
                <a class="font-weight-bold text-xs-center inline-block full-width" href="#">Read More</a>
            </div>
        </div>
        <div class="row tile">
            <div class="col-sm-6 col-sm-push-6 text-center">
                <%= image_tag 'img1.jpg', class: 'img-responsive'%>
            </div>
            <div class="col-sm-6 col-sm-pull-6 text-left">
                <h2 class="text-capitalize text-xs-center">Bryce Canyon Travel Destination</h2>
                <p class="font-weight-light text-xs-center">Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online.</p>
                <a class="font-weight-bold text-xs-center inline-block full-width" href="#">Read More</a>
            </div>
        </div>
        <div class="row">
            <a class="col-xs-12 btn btn-muted with-arrow text-center font-weight-bold" href="#">See more case studies</a>
        </div>
    </div>
</section>

<section class="section section-striped our-process clearfix">
    <h1 class="title text-center font-weight-light">Our Process</h1>
    <div class="container">
        <div class="row tile">
            <div class="col-sm-6">
                <%= image_tag 'build-measure-learn.svg', class: 'img-responsive text-xs-center' %>
            </div>
            <div class="col-sm-6">
                <p class="text-xs-center">The preservation of human life is the ultimate value, a pillar of ethics and the foundation of all morality. This held true in most cultures and societies throughout history.</p>
                <a class="font-weight-bold text-xs-center inline-block full-width">Read our playbook</a>
            </div>
        </div>
    </div>
</section>

<%= partial 'our_thoughts' %>
<%= partial 'footer_banner', locals: { message: 'Need help on your project?', button_text: "Let's get in touch", button_styles: 'btn btn-primary with-pressed-effect' } %>
